.heroImage {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: 100%;
  background-position:center;
  background-repeat: no-repeat;
  margin-bottom: 6rem;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.heroText {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 3.75rem;
  color: #000;
  
}